@{
    ViewData["Title"] = "Atenção";
}

<h3 class="text-danger">Ação inválida, quantidade de produtos para retirada é mais que a do estoque!</h3>

<form action="Entrada">
    <button class="btn btn-outline-danger w-25 mt-1">Voltar</button>
</form>