<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - processo_estágio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/processo_estágio.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">processo_estágio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="text-center">
		<h1 class="display-4 mb-5">Sistema de gerenciamento de mercadorias</h1>
		<div class="d-flex flex-row justify-content-center gap-5 mb-5">
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Tabelas de produtos</a>
			<a class="btn btn-secondary" asp-controller="Gerenciamento" asp-action="Index">Gerenciar mercadorias</a>
			<a class="btn btn-secondary" asp-controller="Historico" asp-action="Index">Histórico das Ações</a>
		</div>
    </div>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ValidacaoFormsMercadoria.js" asp-append-version="true"></script>
    <script src="~/js/ValidacaoFormsEntrada.js" asp-append-version="true"></script>
    <script src="~/js/ValidacaoFormsSaida.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
