@{
    ViewData["Title"] = "Confirmar exclusão";
}

<h1 class="display-4 text-secondary">Deseja excluir essa mercadoria?</h1>
<form action="Exclusao">
    <button class="btn btn-outline-primary w-25">Confirmar</button>
</form>
<form action="Index">
    <button class="btn btn-outline-danger w-25 mt-1">Cancelar</button>
</form>