@using System.Data;
@model GetDataModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N° Registro</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (DataRow row in Model.MercadoriasModel.Rows)
            {
                <tr>
                    @foreach (var cell in row.ItemArray)
                    {
                        <td>@cell</td>
                    }
                    <td class="d-flex gap-2">
                        <a class="btn btn-outline-primary" href="Home/FormAtualizar/@row["ID_MERC"]">Editar</a>
                        <a class="btn btn-outline-danger" href="@Url.Action("Deletar", new { id = row["ID_MERC"] })">Deletar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
</div>
